/*Header e layout base*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(3,3,40);
}

header{
    background-color: #0000004e;
    position: fixed;
    width: 100%;
}

.logoHBO{
    width: 180px;
    margin: 15px;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style-type: none;
}

nav li a{
    color: #fff;
    font-size: 15px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.assine-agora {
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #B535F6;
    border-radius: 15px;
    padding: 4px 10px;
    margin-right: 15px;
}

.assine-agora:hover {
    background-color: #fff;
    color: #02021C;
    transition: .5s all;
}

/*------------------------------------*/
/*Foto e texto da tela home*/
.containerHome {
    display: flex;
    position: relative;
    top: 63px;
    align-items: center;
    justify-content: center;
}


.fotoHome {
    z-index: -1000;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    opacity: 80%;
    background-size: cover;
    background-image: url("../imagens/bikeHome.jpg");
}

.textoHome {
    position: absolute; 
    text-align: center;
    display: block;
    font-family: Cinzel, sans-serif;
    text-shadow: #000 2px 3px 2px;
    font-weight: 600;
    font-size: 30px;
    z-index: 2;
    color: rgb(255, 191, 0);
    opacity: 100%;
}

.textoHome h2{
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.textoHome h3{
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.textoHome h2 span{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: rgb(255, 255, 255);
}

.assine-agora2 {
    text-shadow: none;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 35px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    margin: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #B535F6;
    border: 4px solid #B535F6;
    border-radius: 30px;
    padding: 4px 30px;
}

.assine-agora2:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    transition: .5s all ;
}

/*------------------------------------*/








