*{
    background-color: black;
}

main{
    margin-top: 350px;
}

header{
    top:0;
}

.containerTitulo{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    font-family: Poppins, sans-serif;
    color: #fff;
}

.containerTitulo p span{
    text-transform: uppercase;
    font-size: 16px;
}

.containerTitulo p{
    text-transform: uppercase;
    font-size: 12px;
}

.fa-play{
    color: #fff;
    border: 2px solid white;
    margin: 30px 0;
    padding: 17px  20px;
    border-radius: 50%;
    text-decoration: none;
}

.fa-play:hover{
    border-color: rgb(117, 62, 239);
}

.containerTitulo h2{
    font-family: Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: rgb(185, 185, 185);
}

.conteinerContinuaoConteudo{
    color: rgb(185, 185, 185);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.trailer{
    margin-left: 15px;
    margin-right: 5px;
}

/*?--------GRID------------*/

.equipe{
    color: yellowgreen;
}