body {
    background-image: url("../../imagens/loginBackground.png");
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.containerLogin{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 100px;
    font-family: Poppins;
}

.containerLogin h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
}

.containerLogin a{
    text-decoration: none;
    font-size: 18px;
    margin-top: 40px;
    color: #7B6AD1;
    font-weight: 600;
    height: 25px;
}

.containerLogin a:hover{
    text-decoration: underline;
    text-underline-position: under;
}



.login{
    backdrop-filter: blur(100px);
    background-color: rgba(59, 59, 59, 0.114);
    border-radius: 3px;
    padding: 60px 60px 30px 60px;;
    display: block;
    width: 950px;
}

.login label {
    display: block;
    color: white;
}

.login input {
    margin: 30px 30px 30px 0;
    width: 100%;
    padding: 15px;
    display: block;
    border-radius: 3px;
    font-size: 18px;
    border: 0.01mm solid white;
    background-color: transparent;
    color: white;
    font-weight: 300;
}

.login input[type="submit"] {
    background-color: rgba(151, 151, 151, 0.089);
    width: 20%;
    border: none;
    padding: 10px;
    font-weight: 600;
}

.login input[type="submit"]:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba(151, 151, 151, 0.242);
}

.botõesLogin {
    display: flex;
    flex-direction: row;
}

/**-----Menu Lateral------*/

#search-icon{
    position: relative;
    bottom: -1px;
}


.menu-links{
    margin-left: 50px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-links a{
    text-decoration:none;
    font-family: Poppins, sans-serif;
    color: rgb(185, 185, 185);
    margin: 0 10px;
}

.menu-links a:hover{
    color: rgb(255, 255, 255);
    transition: 0.75s all;
}

.material-icons{
    color: rgb(185, 185, 185);
}

.material-icons:hover{
    color: rgb(255, 255, 255);
    transition: 0.75s all;
}

.entrar{
    color: rgb(185, 185, 185);
}

.entrar:hover{
    color: rgb(255, 255, 255);
    transition: 0.75s all;
}

.assine-agora{
    background-color: #858585bd;
    padding: 10px 15px;
    color: #fff;
}


.menu-header{
    cursor: pointer;
    width: 24px;
    background: transparent;
}

.menu-header span{
    display:block;
    height: 2px;
    width: 90%;
    background: rgb(185, 185, 185);
    border-radius: 2px;
    margin:6px;
}

.menu-header:hover span{
    background-color: #fff;
}

#menuLateral{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100vh;
    z-index:10;
    background-color: #0E0E0E;
    padding: 30px 50px;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 300;
    overflow-y: scroll;
}

#fecharMenuLateral{
    background-color: #0E0E0E;
    color: rgb(185, 185, 185);
    font-size: 20px;
    cursor: pointer;
}

#menuLateral ul li{
    list-style-type: none;
    margin: 20px 0;
   
}

#menuLateral ul li a{
    text-decoration:none;
    color: rgb(185, 185, 185);
}

#menuLateral ul li hr{
    text-decoration:none;
    background-color: rgb(185, 185, 185);
    height: 1px;
    width: 250px;
}

#menuLateral ul li a:hover, #fecharMenuLateral:hover{
    color: #fff;
    font-weight: 600;
}

#generos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#generos p:last-child{
    font-size:40px;
    font-weight: 100;
}

.logos-container{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.logos{
    display: grid;
    align-items:center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.logos a img{
    width: 70px;
}

.logos a img:hover{
    transition: all 0.75;
    width: 90px;
}

/**-----Responsividade------*/

@media (max-width: 966px){
    .containerLogin{
        padding: 4vw;
        margin-top: 10vw;
    }

    .containerLogin h1{
        font-size: 6vw;
    }

    .containerLogin a{
        font-size: 2vw;
        margin-top: 6vw;
        height: 4vw;
    }

    .login{
        padding: 30px 30px 10px 30px;;
        display: block;
        width: 80vw;
        font-size: 2vw;
    }

    .login input {
        margin: 5vw 2vw 2vw 0;
        font-size: 3vw;
    }

    .login input[type="submit"] {
        font-size: 1.8vw;
        width: 14vw;
    }
}

@media (max-width: 580px){
    .containerLogin{
        margin-top: 15vw;
    }

    .containerLogin a{
        margin-top: 7vw;
    }
}

@media (max-width: 310){
    .containerLogin a{
        margin-top: 8vw;
    }
}