.logoHBO{
    width: 180px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url("../../imagens/fundoAssinatura.png");
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
}

.entrarAssinatura {
    position: absolute;
    right: 18px;
    font-family: Poppins,sans-serif;
}

.entrarAssinatura a{
    text-decoration: none;
    color: #7e9de3;
    text-transform: uppercase;
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 14px;
}

/*?cabecalho---------*/

.container-Cabecalho{
    font-family: Poppins,sans-serif;
    color: white;
    font-weight: 300;
    text-align: center;
}
.container-Cabecalho nav{
    margin: 13px 0;
    display: flex;
    justify-content: center;
}
.container-Cabecalho h1{
    margin: 18px 0;
    font-weight: 300;
}

.container-Cabecalho p{
    font-size: 14px;
}


/*?Escolha---------*/

.planoEscolhido{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: .5rem;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #96969639;
    backdrop-filter: blur(15px);
    border-radius: 10px;
}

.planoEscolhido p{
    font-size: 14px;
}
.planoEscolhido p a i{
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}

/*?planos---------*/

.containerPlanos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 25px;
}

.planos{
    padding: 20px;
    background-image: linear-gradient(#573aa0bd, transparent);
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 20px;
    backdrop-filter: blur(1px);
}

.planosAssinatura{
    padding: 25px;
    font-family: Poppins, sans-serif;
    color: #fff;
}
.detalhesPlanno ul{
    margin-top: 25px;
}

.detalhesPlanno ul li{
    list-style-type: none;
}

.aparelhos i{
    font-size: 10px;
    color: #fff;
}

.aparelhos hr {
    color: white;
    height: 1px;    
    background-color: #fff;
}

.aparelhos p {
    color: white;
}

.aparelhos a {
    text-decoration: none;
    color: #fff;
    background-color: #7c2abf73;
    padding: 10px 05px;
    border-radius: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-self: center;
}

.aparelhos a:hover{
    background-color: #7c2abf;
    transition: .5s all;
    color: #fff;
    text-decoration: none;
}



/*?rodapé---------*/

.rodapeAssinatura{
    display: flex;
    background-color: #0f0635;
    justify-content: center;
    position: absolute;
    top: 720px;
    left: 0;
    right: 0;
}

.rodapeAssinatura li{
    padding: 30px 15px;
    color: #9665b8;

}

.rodapeAssinatura li a{
    color: #9665b8;
    text-transform: initial;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace; 
}

.rodapeAssinatura li a i{
    margin-right: 3px;
}


/**-----Fase 2------*/

.containerFase2 {
    width: 50%;
    padding: 20px;
    font-family: Poppins, sans-serif;
    color: #fff;
}

.formsDados{
    text-align: center;
}

.formsDados p{
    font-size: 10px;
}

.formsDados h1{
    font-size: 25px;
    margin: 10px;
}

.formsDados h2{
    font-size: 12px;
}

.formsDados form{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formsDados form{
    align-items: stretch;
}


form input{
    margin: 20px 0;
    padding: 8px 0;
    background-color: rgba(82, 82, 82, 0.05);
    border-bottom: 2px solid rgb(197, 197, 197);
    color: #fff;
    outline: none;
}


form input::placeholder{
    color: rgba(255, 255, 255, 0.65);
    background-color: transparent;
    border: none;
}


.names{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
    width: 100%;
}

.names input{
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid rgb(197, 197, 197);
}

.names input:first-child{
    margin-right: 40px;
}

.names input::placeholder{
    color: rgba(255, 255, 255, 0.65);
    background-color: transparent;
    border: none;
}

#nome{
    margin-right: 15px;
}

.criar-conta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #96969639;
    backdrop-filter: blur(15px);
    padding: 18px;
    border-radius: 20px;
    margin: 15px 0;
    text-align: justify;
    line-height: 15px;
}

.criar-conta h3 {
    font-family: Arial;
    font-size: 10px;
    font-weight: 100;
}

.criar-conta h3 a{
    color: #85a3e9;
    text-decoration: none;
}

.criar-conta h3 a:hover{
    cursor: pointer;
}

.criar-conta input{
    margin: 15px 0;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #7b2abf;
    border: none;
    padding: 1rem 4rem;
    color: #fff;
    font-weight: bold;
    z-index: 20;
}

.recusa{
    font-family: Arial;
    font-size: 8px;
    border-bottom: 20px;
}

/*!------RESPONSIVIDADE---------*/

@media (max-width:800px) {

    .container-Cabecalho nav{
        font-size: 12px;
    }

    .container-Cabecalho h1{
        font-size: 20px;
    }

    .container-Cabecalho p{
        font-size: 11px;
    }

    .containerPlanos{
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .planos{
        margin: 20px 0;
    }

    footer{
        position: absolute;
        top: 350px;
        left: 0;
        right: 0;
    }
    
    .rodapeAssinatura{
        display: flex;
        flex-direction: column;
    }

    .rodapeAssinatura li{
        padding: 5px;
        flex-direction: column;
    }
}

@media (max-width:400px){
    header{
        height: 110px;
    }

    .container-Cabecalho{
        margin-top: 40px;
    }

    .container-Cabecalho p{
        padding: 15px;
    }

    .entrarAssinatura{
        width: 100%;
        text-align: center;
    }

    .entrarAssinatura a{
        position: absolute;
        padding: 15px;
        margin-left: 35px;
        left: 0;
        right: 0;
        top: 15px;
        z-index: 20;
    }
}

@media (max-width:800px){
    footer{
        top: 500px;
    }
}

