.logoHBO{
    width: 180px;
    margin: 15px;
}

nav{
    display: flex;
    align-items: center;
    justify-content:center;
}

body {
    background-image: url("/PROJETO FINAL/imagens/fundoAssinatura.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-planos{
    background-image: none;
    background-color: transparent;
    border: 0;
}

.container-Cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    font-family: Poppins,sans-serif;
    color: white;
    font-weight: 300;
}
.container-Cabecalho nav{
    margin: 13px 0;
    text-transform: uppercase;
}
.container-Cabecalho h1{
    margin: 18px 0;
    font-weight: 300;
}

.container-Cabecalho p{
    font-size: 14px;
}


