/*------------------------------------*/
/*Foto e texto da tela home*/
.containerHome {
    z-index: 1;
    display: flex;
    position: relative;
    top: 64px;
    align-items: center;
    justify-content: center;
}


.fotoHome {
    z-index: -1000;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    opacity: 80%;
    background-size: cover;
    background-image: url("./imagens/bikeHome.jpg");
}

.textoHome {
    position: absolute; 
    text-align: center;
    display: block;
    font-family: Kaushan Script;
    text-shadow: #000 2px 3px 2px;
    font-weight: 800;
    font-size: 40px;
    z-index: 2;
    color: rgb(255, 188, 140);
    opacity: 100%;
}

.estreia{
    color: rgb(255, 209, 176);
    margin-bottom: 35px;
    font-size: 32px;
    text-shadow: none;
}

.textoHome h2{
    text-shadow: none;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.textoHome h3{
    text-shadow: none;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.textoHome h2 span{
    text-shadow: none;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: rgb(255, 255, 255);
}

.assine-agora2 {
    text-shadow: none;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    margin: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #8E2EE5;
    border: 4px solid #8E2EE5;
    border-radius: 30px;
    padding: 2px 20px;
}

.assine-agora2:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    transition: .5s all ;
}

/*------------------------------------*/

/*Tela home primeira parte responsiva*/
@media (max-width: 800px) {
    .logoHBO{
        width: 120px;
        margin: 10px;
    }

    .containerHome {
        top: 50px;
    }

    .textoHome {
        font-size: 30px;
    }

    .textoHome h2{
        font-size: 40px;
    }
    
    .textoHome h3{
        font-size: 12px;
    }
    
    .textoHome h2 span{
        font-size: 10px;
    }

    .assine-agora2 {
        font-size: 30px;
        font-weight: 500;
        margin: 10px 0;
    }
}

@media (max-width: 600px) {
    .logoHBO{
        width: 80px;
        margin: 8px;
    }

    header{
        width: 100%;
        height: 50px;
    }

    .containerHome {
        top: 50px;
    }

    nav a{
        margin-top: 6px;
        margin-left: 5px;
    }

    nav li a{
        font-size: 12px;
        margin: 0 5px;
    }

    .assine-agora {
        font-size: 10px;
        margin: 10px 8px;
        margin-right: 10px;
        text-align: center;
    }

    .textoHome {
        font-size: 30px;
    }

    .textoHome h2{
        font-size: 40px;
    }
    
    .textoHome h3{
        font-size: 12px;
    }
    
    .textoHome h2 span{
        font-size: 10px;
    }

    .assine-agora2 {
        font-size: 15px;
        font-weight: 500;
        margin: 10px 0;
    }
}

/*------------------------------------*/
/*Tela de Planos*/
.container-planos{
    background: url(./imagens/fundo6.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top: 40px solid rgb(3,3,40);
    top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-planos h2{
    font-family: Poppins,sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    margin: 30px;
    padding: 10px;
}

.container-opcoes-plano{
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.container-opcao-plano{
    backdrop-filter: blur(10px);
    background-image: linear-gradient(#272045, transparent);
    border-radius: 6px;
    padding: 30px 40px;
    margin: 0 40px;
    width: 500px;
}

.container-planos i{
    margin: 10px 10px 10px 0;
}

.titulo-preco{
    font-family: Poppins,sans-serif;
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo-preco span{
    color: #FF00E5;
    font-weight: 600;
}

.descricao ul li{
    list-style-type: none;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    margin: 10px 0;
}

.botao-plano a{
    text-decoration: none;
    color: #fff;
}

.botao-plano{
    width: 310px;
    margin: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #8E2EE5;
    border: 2px solid #8E2EE5;
    border-radius: 30px;
    padding: 4px 30px;
}

.botao-plano:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    transition: .5s all ;
    
}
