/*------------------------------------*/
/*Foto e texto da tela home*/
nav ul li{
    margin-top: 15px;
}

.containerHome {
    z-index: 1;
    display: flex;
    position: relative;
    top: 64px;
    align-items: center;
    justify-content: center;
}


.fotoHome {
    z-index: -1000;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    opacity: 80%;
    background-size: cover;
    background-image: url("./imagens/bikeHome.jpg");
}

.textoHome {
    position: absolute; 
    text-align: center;
    display: block;
    font-family: Kaushan Script;
    text-shadow: #000 2px 3px 2px;
    font-weight: 800;
    font-size: 40px;
    z-index: 2;
    color: rgb(255, 188, 140);
    opacity: 100%;
}

.estreia{
    color: rgb(255, 209, 176);
    margin-bottom: 35px;
    font-size: 32px;
    text-shadow: none;
}

.textoHome h2{
    text-shadow: none;
    font-family: oxygen;
    font-weight: 700;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.textoHome h3{
    text-shadow: none;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.textoHome h2 span{
    text-shadow: none;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: rgb(255, 255, 255);
}

.assine-agora2 {
    text-shadow: none;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    margin: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    border: 4px solid #8E2EE5;
    background-color: #8E2EE5;
    border-radius: 30px;
    padding: 2px 20px;
    transform: translate(0);
    overflow: hidden;
}

.assine-agora2:hover{
    background: rgba(3, 3, 40, 0.492);
    transition: 0.75s;
}

.assine-agora2::before {
    content: "";
    position: absolute;
    background: #8E2EE5;
    width: 100px;
    top: 0;
    bottom: 0;
    left: -120px;
    transform: rotate(-40deg);
    filter: blur(6px);
}

.assine-agora2:hover::before{
    left: calc(100% + 3px);
    transition: .75s; 
}

/*------------------------------------*/
/*Tela de Planos*/
.container-planos{
    background: url(./imagens/fundo7.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top: 40px solid rgb(3,3,40);
    top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-planos h2{
    font-family: Poppins,sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin: 30px;
    padding: 10px;
}

.container-opcoes-plano{
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.container-opcao-plano{
    backdrop-filter: blur(10px);
    background-image: linear-gradient(#272045, transparent);
    border-radius: 6px;
    padding: 30px 40px;
    margin: 0 40px;
    width: 500px;
}

.container-planos i{
    margin: 10px 10px 10px 0;
}

.titulo-preco{
    font-family: Poppins,sans-serif;
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo-preco span{
    font-family: oxygen;
    color: #FF00E5;
    font-weight: bold;
}

.descricao ul li{
    list-style-type: none;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    margin: 10px 0;
}

.botao-plano a{
    text-decoration: none;
    color: #fff;
}

.botao-plano{
    width: 310px;
    margin: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #8E2EE5;
    border: 2px solid #8E2EE5;
    border-radius: 30px;
    padding: 4px 30px;
    transform: translate(0);
    overflow: hidden;
}

.botao-plano:hover{
    background: rgba(3, 3, 40, 0.492);
    transition: 0.75s;
}

.botao-plano::before {
    content: "";
    position: absolute;
    background: #8E2EE5;
    width: 100px;
    top: 0;
    bottom: 0;
    left: -120px;
    transform: rotate(-40deg);
    filter: blur(6px);
}

.botao-plano:hover::before{
    left: calc(100% + 3px);
    transition: .75s; 
}

.botao-plano:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    transition: .5s all ;
    
}

/*?CARROSSEL-------------------*/

.swapper {
    position: relative;
    height: 850px;
    width: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.swapper h3 {
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    color: #fff;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(3, 3, 40);
    position: relative;
    top: 60px;
}

.swiper {
    width: 1300px;
}

.showroom-container {
    width: 80vw;
}

.showroom-container .swiper .content .card {
    background-color: rgb(3, 3, 40)
}

.showroom-container .swiper .content .card a {
    background-color: transparent;
    border: none;
}


.swapper .explorarMais {
    text-decoration: none;
    text-align: center;
    color: rgb(3, 3, 40);
    font-family: Poppins, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #fff;
    padding: 12px 30px;
    border-radius: 30px;
    border: 2px solid white;
    margin-top: 30px;
}

.swapper .explorarMais:hover {
    transition: .75s all;
    background-color: rgb(3, 3, 40);
    color: white;
}

.card {
    position: relative;
    border-radius: 30px;
    margin: 20px 0;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: rgb(3, 3, 40);
}

section .card .image {
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

section .card .image img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: all 0.4s;
    opacity: 60%;

}

section .card .image img:hover {
    transform: scale(1.07);
    opacity: 100%;
}

.swiper-pagination {
    position: absolute;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    color: #ffffff;
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    color: #ffffff;
}









/*Tela home primeira parte responsiva*/
@media (max-width: 1075px) {

    .container-opcoes-plano{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    
        #plano-mateus {
            margin-top: 15px;
        }
    
        
    }

@media (max-width: 800px) {
    .containerHome {
        top: 50px;
    }

    .textoHome {
        font-size: 30px;
    }

    .textoHome h2{
        font-size: 40px;
    }
    
    .textoHome h3{
        font-size: 12px;
    }
    
    .textoHome h2 span{
        font-size: 10px;
    }
}

@media (max-width: 600px) { 
    .containerHome {
        top: 50px;
    }

    .textoHome {
        font-size: 30px;
    }

    .textoHome h2{
        font-size: 40px;
    }
    
    .textoHome h3{
        font-size: 12px;
    }
    
    .textoHome h2 span{
        font-size: 10px;
    }

    .assine-agora2 {
        font-size: 15px;
        font-weight: 500;
        margin: 10px 0;
    }

    /**Blocos-----------------*/
    .container-planos h2 {
        font-size: 6vw;
    }

    .container-opcao-plano{
        width: 80%;
        font-size: 2vw;
    }

    .container-opcao-plano p, .container-opcao-plano ul li{
        width: 80%;
        font-size: 4vw;
    }

    .botao-plano{
        font-size: 2vw;
        margin-left: 6vw;
        width: 50vw;
        text-align: center;
    }



}

@media (max-width: 320px) { 
    .titulo-preco p{
        font-size: 4vw;
    }

    .titulo-preco p:last-child{
        text-align: end;
    }

    .container-opcao-plano{
        padding: 11px;
        width: 75vw;
    }

    .container-opcao-plano ul li{
        margin: 0;
    }
    
    .botao-plano {
        margin-left: 9vw;
    }

    #plano-mateus {
        margin-top: 2px;
    }
}



